{% extends "HeliosManagerBundle::layout.html.twig" %}

{% block heliosmanager_body %}

    <h3>Formulaire d'article</h3>

    {% include "HeliosBlogBundle:Blog:formulaire.html.twig" %}

{% endblock %}